*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  box-sizing: border-box;
  background-color: #202020;
}

.colorPicker {
  color: #3498db77;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

span[data-index='1'] + .MuiSlider-markLabel {
  @media (max-width: 768px) {
    transform: translate(-50%, -12px);
  }
}

.hoverRed {
  &:hover {
    border: 1px solid #e74c3c !important;
    color: #e74c3c !important;
  }
}
